services:
  dapp-examples:
    build: .
    container_name: dapp-examples
    env_file:
      - path: ../.env
        required: false
    environment:
      PORT: "8000"
      VIRTUAL_HOST: "dapps.usernodelabs.org"
      VIRTUAL_PORT: "8000"
      LETSENCRYPT_HOST: "dapps.usernodelabs.org"
    expose:
      - "8000"
    networks:
      - proxy-network
    restart: unless-stopped

networks:
  proxy-network:
    external: true
